<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <script src="Template_Js/Template_Main.js"></script>
    <link rel="stylesheet" href="Template_Css/Template_Style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>
<body>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <p> insert mega important rules to follow at all cost here </p>
</div>

<div id="main">
    <span onclick="openNav()"><i id="iconRules" class="far fa-question-circle"></i></span>
</div>

<div class="testbox">
    <h1>this is a title test</h1>
    <p>another lorem ipsum test blablabla</p>
</div>
</body>
</html>
