<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <!--toujours intéger en head v-->
        <script src="Template_Js/Template_Loading-bar-API.js"></script>
    <!--toujours intéger en head ^-->
    <link rel="stylesheet" href="Template_Css/Template_Style.css">
    <link rel="stylesheet" href="../fontawesome-5.3.1/css/all.css">
</head>
<body>
<div id="template">

    <!--Règles des salles-->
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <p> insert mega important rules to follow at all cost here </p>
    </div>

    <!--Bouton ?-->
    <div id="main">
        <span onclick="openNav()"><i id="iconRules" class="far fa-question-circle"></i></span>
    </div>

    <div id="temp-right">
        <!--Chrono Global-->
        <div id="chrono"
             data-preset="bubble"
             class="ldBar label-center"
             data-value="100"
             data-pattern-size="100">
        </div>
        <!--vie-->
        <div class="vie">
            <img src="Img/Heart.png" height="76" width="76" id="heart1"/>
            <img src="Img/Heart.png" height="76" width="76" id="heart2"/>
            <img src="Img/Heart.png" height="76" width="76" id="heart3"/>
        </div>
    </div>

    <!--fleche salle suivante-->
    <div class="fleche">
        <i class="far fa-arrow-alt-circle-right"></i>
    </div>

    <!--<div class="testbox">
        <h1>this is a title test</h1>
        <p>another lorem ipsum test blablabla</p>
    </div>-->
    <h1 id="nom-salle">Mettre le titre de chaque salle en js</h1>

    <div id="flex-pop-div">
        <div id="pop-div">
            <div id="titre-div">
                <div id="h2-pop-div"><h2 class="titre-pop-div"><!-- Titre div pop --></h2></div>
                <i class="fas fa-times fermer-div"></i>
            </div>
            <div id="paragraph-pop-div"><!-- Contenu de la div Pop --></div>
        </div>
    </div>

</div>

<!-- Scripts js -->
    <script src="Template_Js/jquery-3.3.1.min.js"></script>
    <script src="Template_Js/Template_Main.js"></script>

</body>
</html>
