body{
    overflow: hidden;
}

#background{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -100;
    min-width: 100%;
    min-height: 100%;
}

#flex-formulaire{
    position: fixed;
    bottom: 0;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#ghostAnswer{
    font-size: 25px;
    min-width: 500px;
    text-align: center;
}

#bouton_valider{
    margin: 0 0 5px 20px;
    color: #FFFFFF;
    text-shadow: 0 -1px 4px #7a7a7a, 0 -2px 10px #ffff00, 0 -10px 20px #ffce00, 0 -18px 40px #ff8000, 0 -24px 50px #F00;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    background: linear-gradient(180deg, #a2a2a2 0%, #6d6d6d 49%,#444444 100%);
    border-radius: 5px;
    border: 0;
    padding: 7px 20px 7px 20px;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    transition: all 1s;
    text-align: center;
    font-family: "Cardinal";
}

#bouton_valider:hover{
    background: linear-gradient(180deg,#444444 0%, #6d6d6d 49%, #a2a2a2 100%);
}

.p-pop{
    color: #000;
    text-align: center;
    font-size: 25px;
}

#question{
    color: #FFF;
    font-family: "Cardinal Alternate";
    font-size: 35px;
    text-align: center;
}

#nom-salle{
    font-family: "Cardinal Alternate";
}