/* CSS Template */

body {
    width: 100%;
}

p{
    color: red;
    padding: 15px;
}

#template{
    z-index: 1000;
    width: 100%;
}

.vie{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.fleche {
    margin-top: 22%;
    position: fixed;
    font-size: 90px;
    right: 10px;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #FFFFFF, 0 0 30px #FFFFFF, 0 0 40px #FFFFFF, 0 0 55px #FFFFFF, 0 0 75px #FFFFFF, 2px 2px 2px rgba(255,255,255,0);
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    font-size:30px;
    cursor:pointer;
    position: fixed;
    top: 0;
    left: 0;
}

/* icon [?] Template */
#iconRules{
    margin: 10px auto 0 auto;
    animation: beat 1.6s infinite linear;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #FFFFFF, 0 0 30px #FFFFFF, 0 0 40px #FFFFFF, 0 0 55px #FFFFFF, 0 0 75px #FFFFFF, 2px 2px 2px rgba(255,255,255,0);
}
/*animation sur l icon */
@keyframes beat {
    from{
        transform: scale(1.0);
    }
    to {
        transform: scale(1.2);
    }
}

/* div coeur et temps */
#temp-right{
    position: fixed;
    top: 10px;
    right: 10px;
}

/* Début css chrono global */
.ldBar {
    position: relative;
}

.ldBar.label-center > .ldBar-label {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-shadow: 0 0 3px #091a71
}

.ldBar-label:after {
    content: "%";
    display: inline
}

.ldBar.no-percent .ldBar-label:after {
    content: ""
}

.ldBar-label {
    color: #d0d0d0;
    font-family: tahoma;
    font-size: 1.8em;
    font-weight: 700
}

.ldBar-label:after {
    content:"%";
    color: #aaa;
    margin-left: 5px;
    font-family: courier new;
    font-size: 0.7em;
    font-weight: 200;
}

#chrono{
    float: right;
}

/* Nom de la Salle */

#nom-salle{
    color: #FFFFFF;
    position: fixed;
    bottom: 0;
    left: 20px;
    text-shadow: #000000 0 0 5px, #000000 0 0 10px, #000000 0 0 15px, #000000 0 0 20px, #000000 0 0 30px, #000000 0 0 40px, #000000 0 0 50px, #000000 0 0 75px;
}

/* Div Pop */
#flex-pop-div{
    position: absolute;
    z-index: 100;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 14%;
}

#pop-div{
    background-image: url("../img/BackgroungDivPop.png");
    width: 760px;
    height: 432px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#titre-div{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px 20px 0 20px;
}

#h2-pop-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.titre-pop-div{
    font-size: 36px;
}

#paragraph-pop-div{
    padding: 20px;
}

#p-div{
    text-align: center;
    font-size: 24px;
    color: #000;
}