/*SUITE FIBONACCI: reprendre le code par salle correspondante pour l'affichage des chiffres  */

@keyframes stretch {
    0% {
        transform: scale(.3);
        border-radius: 100%;
    }

    50% {
        transform: scale(1.5);

    }
    100% {
        transform: scale(.3);
        border-radius: 100%;
    }
}

.fiboNumbers{
    width:80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    animation: stretch 3s ease-out 0s alternate infinite none running;
}

.fibonacci{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height:100px;
    width: 800px;
    font-size: 15px;
    text-shadow:2px 2px 4px darkgoldenrod;
    border: white 1px solid;
    border-radius: 10px 10px;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.75);
    margin-left: auto;
    margin-right: auto;
}

#just-fibo{
    position: fixed;
    top: 0;
    width :100%;
}

