body{
    display: flex;
    background: url("../07_img/salle07bg.png");
}

/*image du coeur / non aligné encore. en attente d'intégration du reste du code*/
.life{
    margin: 10px auto 0 auto;
    animation: heartbeat 1.6s infinite linear;
}
/*animation sur le coeur */
@keyframes heartbeat {
    from{
        transform: scale(1.0);
    }
    to {
        transform: scale(1.2);
    }
}

.tableau_central {
    position: absolute;
    top: 585px;
    left: 945px;
    height: 242px;
    width: 362px;
}

.item_salle1, .item_salle2, .item_salle3, .item_salle4, .item_salle5, .item_salle6 {

}

.item_salle1 {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 538px;
    left: 1570px;
}

.item_salle2 {
    position: absolute;
    height: 100px;
    width: 135px;
    top: 650px;
    left: 415px;
}

#image_item_salle2 {
    margin-bottom: 20px;
}

#image_item_salle5 {
    margin-left: 15px;
}

#image_item_salle3 {
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
}

#image_item_salle6 {
    margin-left: 15px;
}

.item_salle3 {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 395px;
    left: 430px;
}

.item_salle4 {
    position: absolute;
    height: 100px;
    width: 150px;
    top: 455px;
    left: 1740px;
}

.item_salle5 {
    position: absolute;
    height: 100px;
    width: 140px;
    top: 800px;
    left: 30px;
}

#image_item_salle5 {
    margin-left: 35px;
}

.item_salle6 {
    position: absolute;
    height: 100px;
    width: 140px;
    top: 245px;
    left: 4px;
}





