body{
    cursor: url("../07_img/search.png"), pointer;

}
#bg{
    z-index: -10000000;
    position:fixed;
    bottom:0;
    left:0;
    top:0;
    right:0;
}

/*image du coeur / non aligné encore. en attente d'intégration du reste du code*/
.life{
    margin-left: 50%;
    animation: heartbeat 1.6s infinite linear;
}
/*animation sur le coeur */
@keyframes heartbeat {
    0%{
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.2);
    }
    100%{
        transform: scale(1.0);
    }
}

.tableau_central {
    position: absolute;
    top: 585px;
    left: 945px;
    height: 242px;
    width: 362px;
}

.item_salle1, .item_salle2, .item_salle3, .item_salle4, .item_salle5, .item_salle6 {

}

.item_salle1 {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 538px;
    left: 1570px;
}

.item_salle2 {
    position: absolute;
    height: 100px;
    width: 135px;
    top: 650px;
    left: 415px;
}
#image_item_salle1, #image_item_salle2, #image_item_salle3,#image_item_salle4, #image_item_salle5, #image_item_salle6{
    cursor: grab;
}

#image_item_salle2 {
    margin-bottom: 20px;
}

#image_item_salle5 {
    margin-left: 15px;
}

#image_item_salle3 {
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
}

#image_item_salle6 {
    margin-left: 15px;
}

.item_salle3 {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 395px;
    left: 430px;
}

.item_salle4 {
    position: absolute;
    height: 100px;
    width: 150px;
    top: 455px;
    left: 1740px;
}

.item_salle5 {
    position: absolute;
    height: 100px;
    width: 140px;
    top: 800px;
    left: 30px;
}

#image_item_salle5 {
    margin-left: 35px;
}

.item_salle6 {
    position: absolute;
    height: 100px;
    width: 140px;
    top: 245px;
    left: 4px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    font-size:30px;
    cursor:pointer;
}

/* icon [?] Template */
#iconRules{
    margin: 10px auto 0 auto;
    animation: beat 1.6s infinite linear;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #FFFFFF, 0 0 30px #FFFFFF, 0 0 40px #FFFFFF, 0 0 55px #FFFFFF, 0 0 75px #FFFFFF, 2px 2px 2px rgba(255,255,255,0);
}
/*animation sur l icon */
@keyframes beat {
    from{
        transform: scale(1.0);
    }
    to {
        transform: scale(1.2);
    }
}
/* Début css chrono global */
.ldBar {
    position: relative;
}

.ldBar.label-center > .ldBar-label {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-shadow: 0 0 3px #091a71
}

.ldBar-label:after {
    content: "%";
    display: inline
}

.ldBar.no-percent .ldBar-label:after {
    content: ""
}

.ldBar-label {
    color: #d0d0d0;
    font-family: tahoma;
    font-size: 1.8em;
    font-weight: 700
}

.ldBar-label:after {
    content:"%";
    color: #aaa;
    margin-left: 5px;
    font-family: courier new;
    font-size: 0.7em;
    font-weight: 200;
}

#chrono{
    float: right;
}

/* Nom de la Salle */

#nom-salle{
    color: #FFFFFF;
    position: fixed;
    bottom: 0;
}

/* Div Pop */
#flex-pop-div{
    position: absolute;
    z-index: 100;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 14%;
}

#pop-div{
    background-image: url("../07_img/BackgroungDivPop.png");
    width: 750px;
    height: 430px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#titre-div{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px 20px 0 20px;
}

#h2-pop-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.titre-pop-div{
    font-size: 36px;
}

#paragraph-pop-div{
    padding: 20px;
}

#p-div{
    text-align: center;
    font-size: 24px;
    color: #000;
}

p{
    color: red;
    padding: 15px;
}

/* Video Fin du Jeu */
#end{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
}