body {
    overflow: hidden;
    background: url("../06_Img/06_bg.png") no-repeat center fixed;
    background-size: cover;
}

.text{
    color: lawngreen;
    font-family: 'Press Start 2P', cursive;
}

#wrapper{
    display: flex;
}

.bgContainer{
    flex-direction: row;
}

/*countdown*/
#clockdiv{

    color:red;
    font-size: 45px;
    font-family: 'Press Start 2P', cursive;
}

.clockWrap{
    /*background-color: black;*/
    padding-left: 90px;
    padding-top: 30px;
}

.minutes, .smalldots, .seconds{
    text-align: center;
}

.blockcmd {
    display:flex;
}

.inputFib{
    padding: 10px;
    padding-left: 44%;
    padding-top:9.48551%;
}
textarea, input { outline: none; }

#inputFibOk{

    background-color: rgba(255,255,255,0) !important;
    border:none;
    width:250px;
    font-size: 30px;
    padding: 10px;
    color: lawngreen;
    text-align: left;
    font-family: 'Press Start 2P', cursive;

}
#inputFibOk:focus {
    border: transparent;
}

.fibBtn{
    padding:10px;
    width:250px;
    margin:auto;
    background-color: black;
    color: lawngreen;
    border: 1px grey solid;
    font-size: 30px;
    font-family: 'Press Start 2P', cursive;

}

.fibonacci{
    background: linear-gradient(#D2E3EF, #495927);
}