/* CSS CHILDREN'S MEMORY */

body {
    transition: background-color .5s;
    display: inline;
    background-image: url("/01_Img/01_ChildrenBedroom.jpg");

}

.fiboNumbers{
    width:80px;

}

.fibonacci{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height:100px;
    width: 800px;
    font-size: 15px;
    background: #E2C173 ;
    text-shadow:2px 2px 4px darkgoldenrod;
    border: white 1px solid;
    border-radius: 10px 10px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

#flex-container {

    z-index: 1;
    /*padding: 0 20px 20px 20px;*/
    /*margin: 0 auto 30px auto;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.clicklink1{
    font-family: 'Goudy Bookletter 1911', serif;
    border-radius: 1px;
    font-size: 15px;
    color: black;
    background: white ;
    font-weight: bold;
}

.clicklink1:hover{
    color: white;
    background: darkgoldenrod;
}


.vie{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    z-index : 2;
}

.fleche {
    float: right;
    margin-top: 20%;
    margin-left: 95%;
}

p{
    color: red;
    padding: 15px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {

    transition: margin-left .5s;
    padding: 16px;
    font-size:30px;
    cursor:pointer;
}

/*icon [?]*/
#iconRules{
    margin: 10px auto 0 auto;
    animation: beat 1.6s infinite linear;
}

/*animation sur l icon */
@keyframes beat {
    from{
        transform: scale(1.0);
    }
    to {
        transform: scale(1.2);
    }
}