/* CSS CHILDREN'S MEMORY */

body {
    transition: background-color .5s;
    display: inline;
    background: url("../01_Img/01_ChildrenBedroom.jpg") no-repeat center fixed;
    color: #5D544B;
    background-size: cover;

}
#res1,#res2,#res3{
    font-size: 30px;
    font-family: 'Indie Flower', cursive;
}

.valider{
    margin-left: 3px;
    color: #5D544B;
    background-color:#C1E5DF;
    border-color: #82B4B3;
    border-radius: 1px;
    font-size: 30px;
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

.valider:hover{
    color: white;
    background:#82B4B3;
}


#redim{
    width: 150px;
}

.childrensplay{
    padding-top: 40px;
    position:absolute;
    top: 30%;
    left : 30%;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin:auto;
    background-color: #FDF2EE;
    height : 700px;
    width :800px;
    border: 5px #5D544B solid;
    font-size: 50px;
    font-family: 'Indie Flower', cursive;
}

#flex-container {

    z-index: 1;
    /*padding: 0 20px 20px 20px;*/
    /*margin: 0 auto 30px auto;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.clicklink1{
    font-family: 'Goudy Bookletter 1911', serif;
    border-radius: 1px;
    font-size: 15px;
    color: black;
    background: white ;
    font-weight: bold;
}

.clicklink1:hover{
    color: white;
    background: darkgoldenrod;
}


.vie{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    z-index : 2;
}

.fleche {
    float: right;
    margin-top: 20%;
    margin-left: 95%;
}

p{
    color: red;
    padding: 15px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {

    transition: margin-left .5s;
    padding: 16px;
    font-size:30px;
    cursor:pointer;
}

/*icon [?]*/
#iconRules{
    margin: 10px auto 0 auto;
    animation: beat 1.6s infinite linear;
}

/*animation sur l icon */
@keyframes beat {
    from{
        transform: scale(1.0);
    }
    to {
        transform: scale(1.2);
    }
}