body{
    width: 50%;
    background-image: url("../img/question_the_answer.jpg");
	font-family: fantasy;
}

h1 {
    color : white;
    margin: 40px auto auto auto;
    font-family:  fantasy;
    height: 70px ;
    padding: auto;
    text-align: center;
    margin-bottom : 20px;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;

}

#conteneur{
	margin-top : 100px;
    margin-left : 300px;
    padding : 50px;
	padding-top : 10px;
    border: 5px solid #fff;
    -moz-box-shadow: 8px 8px 12px #aaa;
    -webkit-box-shadow: 8px 8px 12px #aaa;
    box-shadow: 8px 8px 12px #555;
    height: 700px;
    width: 1100px;
}

#questions{
    border : 1px solid black ;
    background-image:url("../img/img.png");
    height: 550px;
    width: 1100px;
}

.affiche_phrases {
    padding: 40px;
    height: 45px;
    border-radius: 2px;
    font-family: fantasy;
    font-size: 26px;
    text-align: center;
    color : black;
    margin-bottom:0px;
}

.bouton_vrai_faux {
    font-size: 22px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: fantasy;
    max-height: 180px;
    max-width: 250px;
    min-height: 100px;
    min-width: 250px;
    text-align: center;
    margin : auto;
    color : black;
}

#bouton_valider {
    background-color: #0006;
    height: 60px;
    border-radius: 5px;
    font-size: 25px;
    position: center;
    margin: auto;
    font-family: fantasy;
    text-align: center;
    display: block;
    margin : auto;
    color: white;
    margin-bottom:50px;
	padding-left:20px;
	padding-right:20px;
}

.Flex2{
    display : flex;
    justify-content: space-around;
    padding-bottom: 20px;
    align-items: center;
}
.FlexItem21{
    display: flex;
    border: double;
    background-color:#aaa;
    padding : 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    width: 300px;
    height: 150px;
}

.Imagecompteur{
    height: 80px;
    width: 50px;
}

p.lost {
	text-align:center;
    padding: 0px;
    color:black;

}

b{
	font-size: 25px;
}

/* créée un effet sur le bouton au passage de la souris */

#bouton_valider:hover {
  background-color: #000000;
  transition: background 0.5s;
  /* ajout d'une transition de couleur au passage de la souris */
}

