/* CSS 03 A piece of Work */
body{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background: url("../03_Img/03_bg.jpg");
}

#flex-container{

}

#puzzle{
    width: 1920px;
    height: 100%;
}