/* CSS 03 A piece of Work */
body{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background: url("../03_Img/03_bg.jpg");
}

#flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#puzzle{
    width: 1024px;
    height: 720px;
    margin: 140px auto;
}