/* CSS 03 A piece of Work */
body{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background: url("../03_Img/03_bg.jpg");
}

#flex-container{

}

#puzzle{
    margin-left: 180px;
    width: 82%;
    height: 85%;
    /*première version width = 1920px*/
}

.vie {
    float : right;
}

.texte_compteur {
    text-align: center;
    color: white;
    text-align: left;
    color: white;
    margin-left: 180px;
    margin-top: 70px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.compteur {
    text-align: center;
    color: white;
}

.fleche {
    float: right;
    margin-left: 95%;
}